logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js
*/dist
app/**/*.js
test/**/*.js
config/**/*.js
config/
app/**/*.map
test/**/*.map
config/**/*.map
db/
service/config/config.local.ts