
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
  background: #fafafa !important;
}
.page {
  height: 100%;
  width: 100%;
}
.page-container {
  background: rgba(255, 192, 203, 0.5);
  padding-top: 136px;
}